custom-toast {
    width: 300px;
    background-color: orange;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;

    // timeOut: 3000, // Time to close the toaster (in milliseconds)
    // positionClass: 'toast-top-right', // Toast position
    // closeButton: true, // Show close button
    // progressBar: true, // Show progress bar
  }