<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

<div class="card mb-4">
    <div class="card-header">
        <h2 class="card-title">
            Step 2
        </h2>
        <h4 class="card-subtitle">
            Bank details
        </h4>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="inputUsername">Bank account number </label>
            <input formControlName="bankacNumber" class="form-control"  value="{{ bankInfo?.bankacNumber}}"
                [ngClass]="{ 'is-invalid': submitted && f['bankacNumber'].errors }" type="text"
                [(ngModel)]="bankInfo.bankacNumber" placeholder="Enter bank account number">
            <div *ngIf="submitted && f['bankacNumber'].errors" class="invalid-feedback">
                <div *ngIf="f['bankacNumber'].errors && f['bankacNumber'].errors['required']">Bank account is required
                </div>
            </div>
            <div *ngIf="submitted && f['bankacNumber'].errors" class="invalid-feedback">
                <div *ngIf="f['bankacNumber'].errors && f['bankacNumber'].errors['pattern']">Check your Bank account
                </div>
            </div>
        </div>
      
        <div class="row gx-3 mb-3">
     
            <div class="col-md-6">
                <label for="inputFirstName">IFSC number</label>
                <input formControlName="ifsc" class="form-control" value="{{ bankInfo?.ifsc}}"
                    [ngClass]="{ 'is-invalid': submitted && f['ifsc'].errors }" type="text"
                    [(ngModel)]="bankInfo.ifsc" placeholder="Enter IFSC number">
                <div *ngIf="submitted && f['ifsc'].errors" class="invalid-feedback">
                    <div *ngIf="f['ifsc'].errors && f['ifsc'].errors['required']">IFSC code is required</div>
                </div>
                <div *ngIf="submitted && f['ifsc'].errors" class="invalid-feedback">
                    <div *ngIf="f['ifsc'].errors && f['ifsc'].errors['pattern']">Check your IFSC code</div>
                </div>
            </div>
          
            <div class="col-md-6">
                <label for="inputLastName">Bank branch</label>
                <input formControlName="bankBranch" class="form-control" value="{{ bankInfo?.bankBranch}}"
                    [ngClass]="{ 'is-invalid': submitted && f['bankBranch'].errors }" type="text"
                    [(ngModel)]="bankInfo.bankBranch"  placeholder="Enter the bank branch">
                <div *ngIf="submitted && f['bankBranch'].errors" class="invalid-feedback">
                    <div *ngIf="f['bankBranch'].errors && f['bankBranch'].errors['required']">Bank branch is
                        required</div>
                </div>
            </div>
        </div>
      
        <div class="row gx-3 mb-3">
         
            <div class="col-md-6">
                <label for="inputOrgName">UPI ID</label>
                <input formControlName="upiId" class="form-control" value="{{ bankInfo?.upiId}}"
                    [ngClass]="{ 'is-invalid': submitted && f['upiId'].errors }" type="text"
                    [(ngModel)]="bankInfo.upiId"   placeholder="Enter UPI ID">
                <div *ngIf="submitted && f['upiId'].errors" class="invalid-feedback">
                    <div *ngIf="f['upiId'].errors && f['upiId'].errors['required']">UPI ID is required</div>
                </div>
                <div *ngIf="submitted && f['upiId'].errors" class="invalid-feedback">
                    <div *ngIf="f['upiId'].errors && f['upiId'].errors['pattern']">Check your UPI ID</div>
                </div>
            </div>
           
            <div class="col-md-6">
                <label for="inputLocation">GST</label>
                <input formControlName="gst" class="form-control" value="{{ bankInfo?.gst}}"
                    [ngClass]="{ 'is-invalid': submitted && f['gst'].errors }" type="text"
                    [(ngModel)]="bankInfo.gst"   placeholder="Enter GST number">
                <div *ngIf="submitted && f['gst'].errors" class="invalid-feedback">
                    <div *ngIf="f['gst'].errors && f['gst'].errors['required']">GST is required</div>
                </div>
                <div *ngIf="submitted && f['gst'].errors" class="invalid-feedback">
                    <div *ngIf="f['gst'].errors && f['gst'].errors['pattern']">Check your GST No.</div>
                </div>
            </div>
        </div>
   
        <div class="d-flex justify-content-end">
            <button type="submit">Submit profile</button>
        </div>
    </div>
</div> 



</form>
</div>