<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="card-title">
                    Step 1
                </h2>
                <h4 class="card-subtitle">
                    Organization details
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card mt-3">
                                <div class="profile-pic">
                                    <label class="-label" for="file">
                                        <i class="bi bi-camera" style="font-size: 1.25em;"></i>
                                        <span>Change Image</span>
                                    </label>
                                    <input id="file" type="file" (change)="loadFile($event)" />
                                    <img src='assets/images/users/user.svg' id="output" width="184px" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">

                        <div class="mb-3">

                            <label for="inputUsername">Organization name</label>
                            <input type="text" formControlName="name" class="form-control"
                                value="{{ result?.firstName}}"
                                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                                placeholder="Enter organization" [(ngModel)]="result.firstName"  readonly>
                            <div *ngIf=" submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required</div>
                            </div>
                        </div>
                        <div class="mb-3">

                            <label for="inputUsername">Email</label>
                            <input type="email" formControlName="email" class="form-control" value="{{ result?.email}}"
                                [(ngModel)]="result.email" readonly
                                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Email" />
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required</div>
                            </div>
                            <div *ngIf=" submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors && f['email'].errors['email']">Check your email address
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6">
                        <label for="inputFirstName">Phone number</label>
                        <input type="text" formControlName="phonenumber" class="form-control"
                            value="{{ result?.mobileNumber}}"
                            [ngClass]="{ 'is-invalid': submitted && f['phonenumber'].errors }"
                            [(ngModel)]="result.mobileNumber" readonly placeholder="Phone Number" />
                        <div *ngIf="submitted && f['phonenumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['phonenumber'].errors && f['phonenumber'].errors['required']">Phone number is
                                required</div>
                        </div>
                        <div *ngIf="submitted && f['phonenumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['phonenumber'].errors && f['phonenumber'].errors['pattern']">Should contain
                                only numerals(10)</div>
                        </div>
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                        <label for="inputLastName">Alternate number</label>
                        <input type="text" formControlName="alternativenumber" class="form-control"
                            value="{{ basicInfo?.alternatePhoneNumber }}"
                            [ngClass]="{ 'is-invalid': submitted && f['alternativenumber'].errors }"
                            [(ngModel)]="basicInfo.alternatePhoneNumber" placeholder="Enter Alternative number" />
                        <div *ngIf="submitted && f['alternativenumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['alternativenumber'].errors && f['alternativenumber'].errors['required']">
                                Phone number is
                                required</div>
                        </div>
                        <div *ngIf="submitted && f['alternativenumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['alternativenumber'].errors && f['alternativenumber'].errors['pattern']">
                                Should contain
                                only numerals(10)</div>
                        </div>
                    </div>
                </div>
                <!-- Form Group (address)-->
                <div class="mb-3">
                    <label for="inputEmailAddress">Address</label>
                    <input type="text" formControlName="address" class="form-control" value="{{ basicInfo?.address }}"
                        [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" placeholder="Address"
                        [(ngModel)]="basicInfo.address" />
                    <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                        <div *ngIf="f['address'].errors && f['address'].errors['required']">Address is required</div>
                    </div>
                    <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                        <div *ngIf="f['address'].errors && f['address'].errors['maxlength']">Use less than 50 word</div>
                    </div>
                </div>
                <!-- Form Row        -->
                <div class="row gx-3 mb-3">
                    <!-- Form Group (organization name)-->
                    <div class="col-md-6">
                        <label for="inputOrgName">City</label>
                        <input formControlName="city" class="form-control" value="{{ basicInfo?.city }}"
                            [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" type="text"
                            [(ngModel)]="basicInfo.city"  placeholder="Enter your organization city"/>  
                        <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                            <div *ngIf="f['city'].errors && f['city'].errors['required']">City is required</div>
                        </div>
                    </div>
                    <!-- Form Group (location)-->
                    <div class="col-md-6">
                        <label for="inputLocation">State</label>
                        <input id="inputLocation" formControlName="state" class="form-control" value="{{ basicInfo?.state }}"
                            [ngClass]="{ 'is-invalid': submitted && f['state'].errors }" type="text"
                            [(ngModel)]="basicInfo.state" placeholder="Enter your organization state">
                        <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
                            <div *ngIf="f['state'].errors && f['state'].errors['required']">State is required</div>
                        </div>
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <!-- Form Group (organization name)-->
                    <div class="col-md-6">
                        <label for="inputOrgName">Pincode</label>
                        <input formControlName="pincode" class="form-control" value="{{ basicInfo?.pincode }}"
                            [ngClass]="{ 'is-invalid': submitted && f['pincode'].errors }" type="text"
                            [(ngModel)]="basicInfo.pincode" placeholder="Enter your organization location pincode">
                        <div *ngIf="submitted && f['pincode'].errors" class="invalid-feedback">
                            <div *ngIf="f['pincode'].errors && f['pincode'].errors['required']">Pincode is required
                            </div>
                        </div>
                        <div *ngIf="submitted && f['pincode'].errors" class="invalid-feedback">
                            <div *ngIf="f['pincode'].errors && f['pincode'].errors['minlength']">Check your Pincode
                                (Must
                                contain only numbers)
                            </div>
                        </div>
                        <div *ngIf="submitted && f['pincode'].errors" class="invalid-feedback">
                            <div *ngIf="f['pincode'].errors && f['pincode'].errors['maxlength']">Check your Pincode
                                (Must
                                contain only numbers)
                            </div>
                        </div>
                    </div>
                    <!-- Form Group (location)-->
                    <div class="col-md-6">
                        <label for="inputLocation">Country</label>
                        <input id="inputLocation" formControlName="country" class="form-control"  value="{{ basicInfo?.country }}"
                            [ngClass]="{ 'is-invalid': submitted && f['country'].errors }" type="text"
                            [(ngModel)]="basicInfo.country"  placeholder="Enter your Country">
                        <div *ngIf="submitted && f['country'].errors" class="invalid-feedback">
                            <div *ngIf="f['country'].errors && f['country'].errors['required']">Country is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-end">
            <button type="submit">Submit profile</button>
        </div>

    </form>
</div>