<div>
    <h1 class="title"><img src="assets/images/logos/logo-dan.png" width="200px"></h1>

    <div class="container" id="container">

            <form [formGroup]="forgotpassword">

                <div class="form-container forgot-password-container">
                    <h1 class="forgot-h1">Forgot Password</h1>

                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                       
                        <input type="email" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Email" />

                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors && f['email'].errors['email']">Check your email address</div>
                        </div>

                        <p class="p-0 m-0" style="font-style: italic; color: #ff0000; font-size: small;" *ngIf="loginError">
                            Invalid email</p>

                        <button type="submit">Send</button>
                    </form>
                </div>
            </form>
        <!-- </div> -->
    </div>
</div>