<div class="container">
    <div class="container ">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <h4 class="card-title">Consultants</h4>
                    <h5 class="card-subtitle">Overview of consultants list</h5>
                    <div class="row">
                        <div class="col-10">
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                                (ngModelChange)="filterData()" autocomplete="off" placeholder="Find your orders">
                        </div>
                        <div class="col-2 align-self-center">
                            <button class="login-button" data-bs-toggle="modal" data-bs-target="#modalid">Add
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th (click)="sortColumn('regId')" class="text-dark font-medium fs-4">
                                            Consultant ID
                                            &nbsp; <i class="bi bi-arrow-down-up"></i></th>
                                        <th (click)="sortColumn('firstName')" class="text-dark font-medium fs-4">
                                            First name
                                            &nbsp; <i class="bi bi-arrow-down-up"></i></th>
                                        <th (click)="sortColumn('lastName')" class="text-dark font-medium fs-4">
                                            Last name &nbsp; <i class="bi bi-arrow-down-up"></i></th>
                                        <th (click)="sortColumn('specialisation')" class="text-dark font-medium fs-4">
                                            Specialization &nbsp; <i class="bi bi-arrow-down-up"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let ts of filteredData'>
                                        <td class="fs-4">
                                            {{ts.regId}}
                                        </td>
                                        <td>
                                            {{ts.firstName}}
                                        </td>
                                        <td>
                                            {{ts.lastName}}
                                        </td>
                                        <td>
                                            {{ts.specialisation}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="!doc_count">
                                        <td colspan="3" style="text-align: center;"> No Doctors..! </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalid">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Consultant details</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="modal-body">

                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" placeholder="firstName" />
                    <div *ngIf=" submitted && f['firstName'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">First name is
                            required
                        </div>
                        <div *ngIf="f['firstName'].errors && f['firstName'].errors['minlength']">Enter valid name
                        </div>
                    </div><br>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" placeholder="Last lastName" />
                    <div *ngIf=" submitted && f['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Last name is
                            required
                        </div>
                    </div>
                    <div *ngIf=" submitted && f['lastName'].errors" class="invalid-feedback">

                    </div>
                    <br>
                    <input type="text" formControlName="specialisation" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['specialisation'].errors }"
                        placeholder="specialisation" />
                    <div *ngIf=" submitted && f['specialisation'].errors" class="invalid-feedback">
                        <div *ngIf="f['specialisation'].errors && f['specialisation'].errors['required']">Specialization
                            is
                            required
                        </div>
                        <div *ngIf="f['specialisation'].errors && f['specialisation'].errors['minlength']">Enter a valid
                            Specialization
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" data-bs-dismiss="modal">Add
                        Doctor</button>
                </div>
            </form>

        </div>
    </div>
</div>