<div class="card">


    <div class="card-body">


        <!-- title -->
        <h4 class="card-title">Orders</h4>


        <h5 class="card-subtitle">Overview of the orders</h5>

        <div class="row">
            <div class="col-11">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                    (ngModelChange)="filterData()" autocomplete="off" placeholder="Find your orders">
            </div>
            <div class="col-1">
                <button class="btn btn-primary btn-sm" (click)="exportToCSV()"><i class="bi bi-download"></i></button>
            </div>
        </div>


        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead class="head" style="text-align: center;">
                    <tr>
                        <th (click)="sortColumn('orderToken')" class="text-dark font-medium fs-4">WorkOrder &nbsp; <i
                                class="bi bi-arrow-down-up"></i></th>
                        <th (click)="sortColumn('status')" class="text-dark font-medium fs-4">Status &nbsp; <i
                                class="bi bi-arrow-down-up"></i></th>
                        <th (click)="sortColumn('patientName')" class="text-dark font-medium fs-4">Patient &nbsp; <i
                                class="bi bi-arrow-down-up"></i></th>
                        <th (click)="sortColumn('requiredDate')" class="text-dark font-medium fs-4">Required &nbsp; <i
                                class="bi bi-arrow-down-up"></i></th>
                        <th (click)="sortColumn('service')" class="text-dark font-medium fs-4">Product &nbsp; <i
                                class="bi bi-arrow-down-up"></i></th>
                        <!-- <th (click)="sortColumn('Files')" class="text-dark font-medium fs-4">files</th> -->
                        <th (click)="sortColumn('Action')" class="text-dark font-medium fs-4">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ts of filteredData'>
                         <!-- <ng-container *ngIf="ts.userOrder.orderStatusId === 1 || ts.userOrder.orderStatusId === 2 || ts.userOrder.orderStatusId === 3 && (filteredData && filteredData.length > 0); else noOrders"> -->
                            <ng-container *ngIf="ts.userOrder.orderStatusId === 1 || ts.userOrder.orderStatusId === 2 || ts.userOrder.orderStatusId === 3 || ts.userOrder.orderStatusId === 7">
                       
                        <td>...{{ts.userOrder.workOrderNumber.slice(-3)}}</td>
                        <td>
                          <ng-container [ngSwitch]="ts.userOrder.orderStatusId">
                            <span class="badge rounded-pill bg-secondary" *ngSwitchCase="1">Order Created</span>
                            <span class="badge rounded-pill bg-warning" *ngSwitchCase="2">Order In Progress</span>
                            <span class="badge rounded-pill bg-warning" *ngSwitchCase="3">Order In Progress</span>
                            <span class="badge rounded-pill bg-success" *ngSwitchCase="4">Order Completed</span>
                            <span class="badge rounded-pill bg-danger" *ngSwitchCase="5">Order Rejected</span>
                            <span class="badge rounded-pill bg-warning" *ngSwitchCase="7">Order In Progress</span>
                        </ng-container>
                        </td>

                        <td>{{ts.userOrder.patientName}}</td>
                        <td>{{ts.userOrder.requiredDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{ts.userOrder.service}}</td>
                        <!-- <td>
                            <img src="assets/images/files/1.jpg" alt="user" width="50">
                        </td> -->
                        <td>
                            <button class="btn btn-light-primary btn-sm"
                                [routerLink]="['/det/pages/ordersummary',ts.userOrder.orderToken]"><i
                                    class="bi bi-info"></i></button>
                            &nbsp;

                            <button class="btn btn-outline-light-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalid"><i
                                class="bi bi-x"></i>
                            </button>
    
                                </td>
                            </ng-container>
                            </tr>
                </tbody>
            </table>
        </div>


        <ng-template #noOrders>
            <table>
                <tr>
                    <td colspan="4" class="text-center">
                        No orders!!
                    </td>
                </tr>
            </table>
        </ng-template>



    </div>

</div>


<div class="modal fade" id="modalid">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancel Order</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    Do you still want to cancel the Order?
                <div class="modal-footer">
                    <button type="submit" data-bs-dismiss="modal" (click)="showToaster('warning')" >Yes, Cancel</button>
                </div>
        </div>
    </div>
</div>