<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button"
            role="tab" aria-controls="details" aria-selected="true">Details</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button"
            role="tab" aria-controls="history" aria-selected="false">History</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
            aria-controls="home" aria-selected="false">Invoice</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link " id="form-tab" data-bs-toggle="tab" data-bs-target="#form" type="button" role="tab"
            aria-controls="form" aria-selected="false">Order FOrm</button>
    </li>
</ul>


<div class="tab-content" id="myTabContent">

    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
        <div class="container py-5">
            <div class="row">

                <div class="col-md-12 col-lg-12">
                    <div id="tracking-pre"></div>
                    <div id="tracking">
                        <div class="tracking-list">
                            <div class="tracking-item">
                                <div class="tracking-icon status-intransit">
                                    <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
                                        data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="tracking-date">
                                    <img
                                        src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                                        class="img-responsive" alt="order-placed" />
                                    </div>
                                <div class="tracking-content">Order Placed<span>{{ result?.orderDate | date }}</span></div>
                            </div>
                            
                            <div class="tracking-item">
                                <div class="tracking-icon status-intransit">
                                    <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
                                        data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="tracking-date"><img
                                        src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                                        class="img-responsive" alt="order-placed" /></div>
                                <div class="tracking-content" *ngIf="result?.orderStatusId == 1">Production <span>Not Started</span></div>
                                <div class="tracking-content" *ngIf="result?.orderStatusId == 2">Production <span>Not Started</span></div>
                                <div class="tracking-content" *ngIf="result?.orderStatusId == 3">Production <span>Production In Progress</span></div>
                                
                            
                            
                            </div>
                            <div class="tracking-item">
                                <!-- <div class="tracking-icon status-current blinker"> -->
                                    <div class="tracking-icon status-intransit">
                                    <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
                                        data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="tracking-date"><img
                                        src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                                        class="img-responsive" alt="order-placed" /></div>
                                        <div class="tracking-content">Order Completed<span>Not Completed</span></div>
                                <div class="tracking-content"*ngIf="result?.orderStatusId == 3">Order Completed<span>Completed</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Order-->
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="container-fluid">

            <div class="container">
                <!-- Title -->
                <div class="d-flex justify-content-between align-items-center py-3">
                    <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #{{result?.workOrderNumber}}</h2>
                </div>

                <!-- Main content -->
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Details -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-3 d-flex justify-content-between">
                                    <div>
                                        <span class="me-3">{{result?.orderDate | date}}</span>
                                        <span class="me-3">#{{result?.workOrderNumber}}</span>
                                        <span class="badge rounded-pill bg-info" *ngIf="result?.orderStatusId == 1">Order Created</span>
                                        <span class="badge rounded-pill bg-warning" *ngIf="result?.orderStatusId == 2">Order In Progress</span>
                                        <span class="badge rounded-pill bg-warning" *ngIf="result?.orderStatusId == 3">Order In Progress</span>
                                        <span class="badge rounded-pill bg-success" *ngIf="result?.orderStatusId == 4">Order Completed</span>
                                    </div>
                                    <div class="d-flex">
                        
        
                                    </div>
                                </div>
                                <!-- <table class="table table-borderless">
                                    <tbody>
                                        <ng-container *ngFor="let keyValuePair of result | keyvalue">
                                            <tr *ngIf="keyValuePair.value !== null">
                                                <td>
                                                    <div class="d-flex mb-2">
                                                        <div class="flex-shrink-0">
                                                            <img src="assets/images/files/2.jpg" alt="" width="35" class="img-fluid">
                                                        </div>
                                                        <div class="flex-lg-grow-1 ms-3">
                                                            <h6 class="small mb-0">
                                                                <a href="#" class="text-reset">
                                                                    {{ keyValuePair.value }}:{{ keyValuePair.key }}
                                                                </a>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{ keyValuePair.key }}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table> -->


                                             <table class="table table-borderless">
                                    <tbody>
                                        <ng-container >
                                            <tr >
                                                <td>
                                                    <div class="d-flex mb-2">
                                                        <div class="flex-shrink-0">
                                                            <img src="assets/images/files/2.jpg" alt="" width="35" class="img-fluid">
                                                        </div>
                                                        <div class="flex-lg-grow-1 ms-3">
                                                            <h6 class="small mb-0">
                                                                <a href="#" class="text-reset">
                                                                    <ng-container *ngIf="result.type1 && result.option1">
                                                                      <p><strong>{{ result.type1 }}: </strong>{{ result.option1 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type2 && result.option2">
                                                                      <p><strong>{{ result.type2 }}: </strong>{{ result.option2 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type3 && result.option3">
                                                                      <p><strong>{{ result.type3 }}: </strong>{{ result.option3 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type4 && result.option4">
                                                                      <p><strong>{{ result.type4 }}: </strong>{{ result.option4 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type5 && result.option5">
                                                                      <p><strong>{{ result.type5 }}: </strong>{{ result.option5 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type6 && result.option6">
                                                                      <p><strong>{{ result.type6 }}: </strong>{{ result.option6 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type7 && result.option7">
                                                                      <p><strong>{{ result.type7 }}: </strong>{{ result.option7 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type8 && result.option8">
                                                                      <p><strong>{{ result.type8 }}: </strong>{{ result.option8 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type9 && result.option9">
                                                                      <p><strong>{{ result.type9 }}: </strong>{{ result.option9 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type10 && result.option10">
                                                                      <p><strong>{{ result.type10 }}: </strong>{{ result.option10 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type11 && result.option11">
                                                                      <p><strong>{{ result.type11 }}: </strong>{{ result.option11 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type12 && result.option12">
                                                                      <p><strong>{{ result.type12 }}: </strong>{{ result.option12 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type13 && result.option13">
                                                                      <p><strong>{{ result.type13 }}: </strong>{{ result.option13 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type14 && result.option14">
                                                                      <p><strong>{{ result.type14 }}: </strong>{{ result.option14 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type15 && result.option15">
                                                                      <p><strong>{{ result.type15 }}: </strong>{{ result.option15 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type16 && result.option16">
                                                                      <p><strong>{{ result.type16 }}: </strong>{{ result.option16 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type17 && result.option17">
                                                                      <p><strong>{{ result.type17 }}: </strong>{{ result.option17 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type18 && result.option18">
                                                                      <p><strong>{{ result.type18 }}: </strong>{{ result.option18 }}</p>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="result.type19 && result.option19">
                                                                      <p><strong>{{ result.type19 }}: </strong>{{ result.option19 }}</p>
                                                                    </ng-container>
                                                                  </a>
                                                                  
                                                                  
                                                                  
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>   
                                        </ng-container>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                        <!-- Payment -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <!-- <div class="col-lg-6">
                                        <h3 class="h6">Payment Method</h3>
                                        <p>Visa -1234 <br>
                                            Total: Rs 169,98 <span class="badge bg-warning rounded-pill">NOT PAID</span>
                                        </p>
                                    </div> -->
                                    <div class="col">
                                        <h3 class="h6">Billing address</h3>
                                        <address>
                                            <strong>{{userresult.firstName}}{{userresult.lastName}}</strong><br>
                                            {{basicInfo.address}}<br>
                                            {{basicInfo.city}}, {{basicInfo.state}}, {{basicInfo.pincode}}, {{basicInfo.country}}<br>
                                            <abbr title="Phone">P:</abbr> {{userresult.mobileNumber}}
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- Customer Notes -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <h3 class="h6">Basic Order Information</h3>
                                <strong>Clinic : {{userresult.firstName}}{{userresult.lastName}}</strong><br>
                                Consultant Name: {{result.consultantName}}<br>
                                Phone Number : {{result.phoneNumber}}<br>
                                <abbr title="Service">Service : </abbr> {{result.service}}
                            </div>
                        </div>
                        <div class="card mb-4">
                            <!-- Shipping information -->
                            <div class="card-body">
                                <h3 class="h6">Order Date</h3>
                                <strong>Date :</strong>
                                <span class="text-decoration-underline" >{{result.orderDate | date}}</span>
                                <hr>
                                <h3 class="h6">Address</h3>
                                <address>
                                    <strong>{{userresult.firstName}}{{userresult.lastName}}</strong><br>
                                    {{basicInfo.address}}<br>
                                    {{basicInfo.city}}, {{basicInfo.state}}, {{basicInfo.pincode}}, {{basicInfo.country}}<br>
                                    <abbr title="Phone">P:</abbr> {{userresult.mobileNumber}}
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                <button type="button" class="btn btn-primary btn-sm float-right" (click)="printPDF()">Print PDF</button>
            </div>

        </div>


        <br>

        <!--Invoice version ---1  -->

        <div class="row">
            <div class="card" id="invoiceToPrint">
                <div class="container invoice">
                    <div class="invoice-header">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-8 text-right">

                                <img class="media-object logo"
                                    src="https://www.dantechdentallab.com/wp-content/uploads/2023/08/header-logo.webp"
                                    style="width: 100px; height: 100px;" />

                            </div>


                            <div class="col-xs-8">
                                <h1>Invoice <small>With Credit</small></h1>
                                <h4 class="text-muted">NO: 554775/R1 | Date: 30/10/223</h4>
                            </div>
                        </div>
                    </div>

                    <div class="invoice-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">

                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered table-condensed">
                                            <div class="col-sm-6">
                                                <h6 class="mb-3">From:</h6>
                                                <div>
                                                    <strong>Webz Poland</strong>
                                                </div>
                                                <div>Madalinskiego 8</div>
                                                <div>71-101 Szczecin, Poland</div>
                                                <div>Email: info@webz.com.pl</div>
                                                <div>Phone: +48 444 666 3333</div>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">

                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered table-condensed">
                                            <div class="col-sm-6">
                                                <h6 class="mb-3">To:</h6>
                                                <div>
                                                    <strong>Webz Poland</strong>
                                                </div>
                                                <div>Madalinskiego 8</div>
                                                <div>71-101 Szczecin, Poland</div>
                                                <div>Email: info@webz.com.pl</div>
                                                <div>Phone: +48 444 666 3333</div>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Services / Products</h3>
                            </div>
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Item / Details</th>
                                        <th class="text-center colfix">Unit Cost</th>
                                        <th class="text-center colfix">Sum Cost</th>
                                        <th class="text-center colfix">Discount</th>
                                        <th class="text-center colfix">Tax</th>
                                        <th class="text-center colfix">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Lorem Ipsum Dolor
                                            <br>
                                            <small class="text-muted">The best lorem in town, try it now or leave
                                                forever</small>
                                        </td>
                                        <td class="text-right">
                                            <span class="mono">Rs 1,000.00</span>
                                            <br>
                                            <small class="text-muted">Before Tax</small>
                                        </td>
                                        <td class="text-right">
                                            <span class="mono">Rs 18,000.00</span>
                                            <br>
                                            <small class="text-muted">18 Units</small>
                                        </td>
                                        <td class="text-right">
                                            <span class="mono">- Rs 1,800.00</span>
                                            <br>
                                            <small class="text-muted">Special -10%</small>
                                        </td>
                                        <td class="text-right">
                                            <span class="mono">+ Rs 3,240.00</span>
                                            <br>
                                            <small class="text-muted">VAT 20%</small>
                                        </td>
                                        <td class="text-right">
                                            <strong class="mono">Rs 19,440.00</strong>
                                            <br>
                                            <small class="text-muted mono">Rs 16,200.00</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sit Amet Dolo
                                            <br>
                                            <small class="text-muted">Now you may sit</small>
                                        </td>
                                        <td class="text-right">
                                            <span class="mono">Rs 120.00</span>
                                            <br>
                                            <small class="text-muted">Before Tax</small>
                                        </td>
                                        <td class="text-right">
                                            <span class="mono">Rs 240.00</span>
                                            <br>
                                            <small class="text-muted">2 Units</small>
                                        </td>
                                        <td class="text-right">
                                            <span class="mono">- Rs 0.00</span>
                                            <br>
                                            <small class="text-muted">-</small>
                                        </td>
                                        <td class="text-right">
                                            <span class="mono">+ Rs 72.00</span>
                                            <br>
                                            <small class="text-muted">VAT:20% S:10%</small>
                                        </td>
                                        <td class="text-right">
                                            <strong class="mono">Rs 312.00</strong>
                                            <br>
                                            <small class="text-muted mono">Rs 240.00</small>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel panel-default">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <td class="text-center col-xs-1">Sub Total</td>
                                        <td class="text-center col-xs-1">Discount</td>
                                        <td class="text-center col-xs-1">Total</td>
                                        <td class="text-center col-xs-1">Tax</td>
                                        <td class="text-center col-xs-1">Final</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="text-center rowtotal mono">Rs 18,240.00</th>
                                        <th class="text-center rowtotal mono">-Rs 1,800.00</th>
                                        <th class="text-center rowtotal mono">Rs 16,440.00</th>
                                        <th class="text-center rowtotal mono">Rs 3,312.00</th>
                                        <th class="text-center rowtotal mono">Rs 19,752.00</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <i>Comments / Notes</i>
                                        <hr style="margin: 3px 0 5px" /> Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Odit repudiandae numquam sit facere blanditiis, quasi
                                        distinctio ipsam? Libero odit ex expedita, facere sunt, possimus consectetur
                                        dolore, nobis iure amet vero.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="invoice-footer">
                        Thank you for choosing our services.
                        <br /> We hope to see you again soon
                        <br />
                        <strong>~Dantech~</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Invoice version ---1 ends  -->
        <!--Invoice version ---2  -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  
    <div class="container" id="invoiceToPrint">
    <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="invoice-title">
                            <h4 class="float-end font-size-15">Invoice #DS0204 <span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
                            <div class="mb-4">
                               <h2 class="mb-1 text-muted">Dantech</h2>
                            </div>
                            <div class="text-muted">
                                <p class="mb-1">3184 Spruce Drive Pittsburgh, PA 15201</p>
                                <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> xyz@987.com</p>
                                <p><i class="uil uil-phone me-1"></i> 012-345-6789</p>
                            </div>
                        </div>
    
                        <hr class="my-4">
    
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-muted">
                                    <h5 class="font-size-16 mb-3">Billed To:</h5>
                                    <h5 class="font-size-15 mb-2">Preston Miller</h5>
                                    <p class="mb-1">4068 Post Avenue Newfolden, MN 56738</p>
                                    <p class="mb-1">PrestonMiller@armyspy.com</p>
                                    <p>001-234-5678</p>
                                </div>
                            </div>
                      
                            <div class="col-sm-6">
                                <div class="text-muted text-sm-end">
                                    <div>
                                        <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                        <p>#DZ0112</p>
                                    </div>
                                    <div class="mt-4">
                                        <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                        <p>12 Oct, 2020</p>
                                    </div>
                                    <div class="mt-4">
                                        <h5 class="font-size-15 mb-1">Order No:</h5>
                                        <p>#1123456</p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                 
                        
                        <div class="py-2">
                            <h5 class="font-size-15">Order Summary</h5>
    
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th style="width: 70px;">No.</th>
                                            <th>Item</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th class="text-end" style="width: 120px;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">01</th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-14 mb-1">Black Strap A012</h5>
                                                    <p class="text-muted mb-0">Watch, Black</p>
                                                </div>
                                            </td>
                                            <td>$ 245.50</td>
                                            <td>1</td>
                                            <td class="text-end">$ 245.50</td>
                                        </tr>
                           
                                        <tr>
                                            <th scope="row">02</th>
                                            <td>
                                                <div>
                                                    <h5 class="text-truncate font-size-14 mb-1">Stainless Steel S010</h5>
                                                    <p class="text-muted mb-0">Watch, Gold</p>
                                                </div>
                                            </td>
                                            <td>$ 245.50</td>
                                            <td>2</td>
                                            <td class="text-end">$491.00</td>
                                        </tr>
                                       
                                        <tr>
                                            <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                            <td class="text-end">$732.50</td>
                                        </tr>
                                     
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                Discount :</th>
                                            <td class="border-0 text-end">- $25.50</td>
                                        </tr>
                                
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                Shipping Charge :</th>
                                            <td class="border-0 text-end">$20.00</td>
                                        </tr>
                                 
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">
                                                Tax</th>
                                            <td class="border-0 text-end">$12.00</td>
                                        </tr>
                                      
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                            <td class="border-0 text-end"><h4 class="m-0 fw-semibold">$739.00</h4></td>
                                        </tr>
                               
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-print-none mt-4">
                                <div class="float-end">
                                    <a href="javascript:window.print()" (click)="printPDF()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                    <a href="#" class="btn btn-primary w-md">Send</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

        <!--Invoice version ---2 ends -->




    </div>

    <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
      <app-test></app-test> 
    </div>

</div>