<form class="contact" [formGroup]="form">
  <h3>Lab Form</h3>
 
  <br>
  <div class="card-body">
      <div class="row d-flex justify-content-around">
          <div class="col-6">


              <label for="service">Consultant</label>
              <input class="form-control" formControlName="consultantName" [(ngModel)]="myUserresult.consultantName"
              readonly type="text" required>

          </div>
          <div class="col-6">
              <label name="">Unique Registration ID</label>
              <input class="form-control" formControlName="regNumber" [(ngModel)]="myUserresult.regNumber"
                  readonly type="text" required>
          </div>

      </div>
      
      <div class="row d-flex justify-content-around">
          <div class="wd100">
              <label name="">Phone number</label>
              <input class="form-control" formControlName="phoneNumber" [(ngModel)]="myUserresult.phoneNumber" placeholder="Phone Number" type="tel" required>
            
          </div>

      </div>


      <div class="row d-flex justify-content-around">
          <div class="row">

             

                  <label name="">Clinic first name</label>
                  <input class="form-control" formControlName="clinicName" [(ngModel)]="myUserresult.clinicName"
                      readonly type="text" required>
              

              <!-- <div class="col-4">
                  <label name="">DCI id</label>
                  <input formControlName="regId" class="form-control"
                  [(ngModel)]="result.regId"
                  readonly type="text" required>
                  
              </div> -->


          </div>


        
      </div>
  </div>
  <hr>

  <!-- <h4 class="card-title">Patient details</h4>
  <br>

  <div class="row d-flex justify-content-around">
      <div class="col-12">

          <label name="">Patient Name</label>
          <input formControlName="patientName" class="form-control"
               placeholder="Patient Name"
               [(ngModel)]="myUserresult.patientName"
               readonly type="text" >

      </div>
      <div class="col-6">
          <label name="">Patient Age</label>
          <input formControlName="patientage" class="form-control"
          placeholder="Patient Name"
          [(ngModel)]="myUserresult.patientage"
          readonly type="text">
        
      </div>
      <div class="col-6">
          <label name="">Patient Sex</label>
          <input class="form-control" formControlName="consultantName" [(ngModel)]="myUserresult.patientGender"
          readonly type="text" required>

      </div>
  </div>

  <hr> -->



  <div class="wd100 colleft question-checkbox" style="padding:2%">
      <div class="row">
          <div class="col-6">
              <div class="row">
                  <label style="margin-bottom:8px;">Service</label>

                  <input formControlName="service" class="form-control d-inline-flex p-2"
                  [(ngModel)]="myUserresult.service"
                      style="padding-right:15px;">
                 
              </div>
          </div>
          <div class="col-3">
              &nbsp;
              <label name="">Order Date</label>
              <input class="form-control" formControlName="orderDate"
                  [(ngModel)]="myUserresult.orderDate" readonly>
          </div>
          <div class="col-3">
              &nbsp;
              <label name="">Required Date</label>
              <input class="form-control" formControlName="requiredDate"
                  [(ngModel)]="myUserresult.requiredDate" readonly>
          </div>



      </div>
      <input type="checkbox" id="priority" name="priority" value="priority" formControlName="priority">
      <label for="priority"> Check the option if you want the order to be delivered within 3 days </label><br>
  </div>



  <div class=" wd100">
      <hr>
  </div>

  <div>

      <div class="wd100">
          <h4><strong>Lab Requistion Form</strong></h4>
      </div>

      <div class="wd100 question-checkbox">
          <div class="col50 colleft">

              <div class="col50 colleft">

                <div class="mb-3">
                  <h4 class="card-subtitle ">Crown & Bridge/ Implant prostheses</h4>
                  <label *ngFor="let checkbox of type1Checkboxes; let i = index">
                    <input type="checkbox" 
                           [checked]="myUserresult.option1?.split(',').includes(checkbox)" 
                           [disabled]="!myUserresult.option1?.split(',').includes(checkbox)">
                    {{ checkbox }}
                  </label>
                </div>

                <div class="mb-3">
                  <h4 class="card-subtitle ">Implant crown & Bridge</h4>
                  <label *ngFor="let checkbox of type2Checkboxes; let i = index">
                    <input type="checkbox" 
                           [checked]="myUserresult.option2?.split(',').includes(checkbox)" 
                           [disabled]="!myUserresult.option2?.split(',').includes(checkbox)">
                    {{ checkbox }}
                  </label>
                </div>


                  <div class="mb-3">
                      <h4 class="card-subtitle ">Metal Free Zirconium</h4>
                      <label *ngFor="let checkbox of type3Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option3?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option3?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>
              </div>


              <div class="col50 colright">
                  <div class="mb-3 row">
               
                      <div class="mb-3 row">
                        <h4 class="card-subtitle ">Removable prostheses</h4>
                        <label *ngFor="let checkbox of type4Checkboxes; let i = index">
                          <input type="checkbox" 
                                 [checked]="myUserresult.option4?.split(',').includes(checkbox)" 
                                 [disabled]="!myUserresult.option4?.split(',').includes(checkbox)">
                          {{ checkbox }}
                        </label>
                      </div>
                  </div>

                  <div class="mb-3 row">
                      <h4 class="card-subtitle ">Material</h4>
                      <label *ngFor="let checkbox of type5Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option5?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option5?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>


                  <div class="mb-3 row">
                      <h4 class="card-subtitle ">Orthodontics/ Splints</h4>
                      <label *ngFor="let checkbox of type6Checkboxes; let i = index">
                        <input type="checkbox" [checked]="myUserresult.option6 === checkbox" [disabled]="myUserresult.option6 !== checkbox">
                        {{ checkbox }}
                      </label>
                  </div>


                  <div class="mb-3 row">
                      <h4 class="card-subtitle ">Lithium Di Silicate</h4>
                      <label *ngFor="let checkbox of type7Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option7?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option7?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>
              </div>

              <div class="mb-3 row">
                  <h4 class="card-subtitle "> Implant Components:</h4>
                  <label *ngFor="let checkbox of type8Checkboxes; let i = index">
                    <input type="checkbox" 
                           [checked]="myUserresult.option8?.split(',').includes(checkbox)" 
                           [disabled]="!myUserresult.option8?.split(',').includes(checkbox)">
                    {{ checkbox }}
                  </label>
              </div>


          </div>

          <div class="col50 colright">

              <div class="col100 colleft">
                  <h4 class="card-subtitle ">Pontic Design </h4>
                  <p style="font-size: xx-small;font-style: italic;">please pick one type</p>
                  <div class="checkbox-wrapper-16">
                    <label class="checkbox-wrapper" *ngFor="let checkbox of type19Checkboxes; let i = index">
                      <input type="checkbox"
                             [checked]="myUserresult.option19?.split(',').includes(checkbox.trim())"
                             
                             [value]="checkbox"
                             name="design"
                             class="checkbox-input">
                      <span class="checkbox-tile">
                        <span class="checkbox-icon">
                          <img src="assets/images/tooth/{{checkbox}}.jpg">
                        </span>
                        <span class="checkbox-label">{{checkbox}}</span>
                      </span>
                    </label>
                  </div>
                  
              </div>


              <div class="col50  colleft">

                  <div class="mb-3 row">
                      <h4 class="card-subtitle ">Metal Ceramic/ Metal</h4>
                      <label *ngFor="let checkbox of type8Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option8?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option8?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>

                  <div class="mb-3 row">
                      <h4 class="card-subtitle ">Removable prostheses</h4>
                      <label *ngFor="let checkbox of type9Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option9?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option9?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>

                  <div class="mb-3 row">
                      <h4 class="card-subtitle "> Stump Shade</h4>
                      <label *ngFor="let checkbox of type10Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option10?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option10?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>



                  <div class="mb-3 row">
                      <h4 class="card-subtitle ">Items Sent to the lab:</h4>
                      <label *ngFor="let checkbox of type11Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option11?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option11?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>

              </div>



              <div class="col50 colright">


                  <div class="mb-3 row">
                      <h4 class="card-subtitle "> Translucency</h4>
                      <label *ngFor="let checkbox of type13Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option13?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option13?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>


                  <div class="mb-3 row">
                      <h4 class="card-subtitle ">Glaze</h4>
                      <label *ngFor="let checkbox of type14Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option14?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option14?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>

                  <div class="mb-3 row">
                      <h4 class="card-subtitle ">Value</h4>
                      <label *ngFor="let checkbox of type15Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option15?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option15?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>

                  <div class="mb-3 row">
                      <h4 class="card-subtitle ">Texture</h4>
                      <label *ngFor="let checkbox of type16Checkboxes; let i = index">
                        <input type="checkbox" 
                               [checked]="myUserresult.option16?.split(',').includes(checkbox)" 
                               [disabled]="!myUserresult.option16?.split(',').includes(checkbox)">
                        {{ checkbox }}
                      </label>
                  </div>


 


              </div>



          </div>
      </div>



      <div class="wd100 px-4">
          <h4 class="card-title">Notes</h4>
          <div class="row">
              <!-- <br>

              <input class="form-control" type="file" value="">
              <p>Acceptable file formats - images, pdf, stl, ply</p>
              <br><br> -->
              <h4 class="card-title">Add additonal comments</h4>
              <br>
              <textarea formControlName="type18" class="form-control"
                  
                  placeholder="Add your comments ..." [(ngModel)]="myUserresult.option18" required=""></textarea>
          
          </div>
      </div>




  </div>




  <div class="wd100 pt-4">
      <button name="submit" type="submit" id="" data-submit="...Sending">Submit</button>
  </div>




</form>