<section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bank details</h4>
                <h5 class="card-subtitle text-muted">Payment
                    informations</h5><br>
                <div class="row">
                    <div class="col-5">
                        <h5 class="mb-0 fw-normal ms-3">Bank account number</h5><br>
                    </div>
                    <div class="col-7">
                        <h5 class="card-subtitle text-muted" style="margin-left:6% ;">{{bankInfo.bankacNumber}}</h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-5">
                        <h5 class="mb-0 fw-normal ms-3">IFSC number</h5><br>
                    </div>
                    <div class="col-7">
                        <h5 class="card-subtitle text-muted" style="margin-left:6% ;">{{bankInfo.ifsc}}</h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-5">
                        <h5 class="mb-0 fw-normal ms-3">Bank branch</h5><br>
                    </div>
                    <div class="col-7">
                        <h5 class="card-subtitle text-muted" style="margin-left:6% ;">{{bankInfo.bankBranch}}</h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-5">
                        <h5 class="mb-0 fw-normal ms-3">UPI id</h5><br>
                    </div>
                    <div class="col-7">
                        <h5 class="card-subtitle text-muted" style="margin-left:6% ;">{{bankInfo.upiId}}</h5>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-5">
                        <h5 class="mb-0 fw-normal ms-3">GST</h5><br>
                    </div>
                    <div class="col-7">
                        <h5 class="card-subtitle text-muted" style="margin-left:6% ;">{{bankInfo.gst}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>